---
Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  bugprone-branch-clone,
  bugprone-copy-paste-error,
  bugprone-infinite-loop,
  bugprone-integer-division,
  bugprone-macro-repeated-side-effects,
  bugprone-not-null-terminated-result,
  bugprone-posix-return,
  bugprone-sizeof-expression,
  bugprone-suspicious-memset-usage,
  bugprone-suspicious-realloc-usage,
  bugprone-swapped-arguments,
  bugprone-too-small-loop-variable,
  bugprone-undefined-memory-manipulation
WarningsAsErrors: '*'
HeaderFilterRegex: '(^include/photoc/|^src/)'
FormatStyle: none
