/build/
/build-san/
/build-analyze/
/build-bench/
/build-tsan/
/cmake-build-*/
/out/
/dist/
/benchmarks/data/
/install-photoc.sh
/uninstall-photoc.sh
*.o
*.obj
*.dSYM/
__pycache__/
*.py[cod]
.DS_Store
